<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Article</title>
    <link href="../static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
      <a class="nav-link active" href="/">Home</a>
      <a class="nav-link" href="/journal/new-entry">New Entry</a>
      </nav>
      <h1 class="blog-title">Python Learning Journal</h1>
      <h2>edit learned sneks</h2>
    </header>
    <main class="container">
      <section>
        <article>
        <h3 class="blog-post-title">Sample blog post</h3>
        <p class="blog-post-meta">October 30, 2017 by <a href="#">Adrienne</a></p>
        <a href="/journal/30/edit-entry">Edit</a>
         </article>
       </section>
    </main>

    <footer class="blog-footer">

    </footer>
  </body>
</html>