<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pyramid Learning Journal</title>
    <link href="https://meyerweb.com/eric/tools/css/reset/reset.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
      <a class="left" href="/">Home</a>
      <a class="right" href="/journal/new-entry">New Entry</a>
      </nav>
      <h1 class="blog-title">Python Learning Journal</h1>
      <h2>get learned bout new sneks</h2>
    </header>
    <main class="container">
      <section>
        <article>
          <h3 class="entry-title">Create New Entry</h3>
          <form>
            <input type="text" name="title" onfocus="this.value=''" value="Title"><br>
            <textarea name="message" rows="15" cols="100">
            </textarea>
          </form>
          <a href="#" class="button right">Save</a>
         </article>
       </section>
    </main>

    <footer class="blog-footer">

    </footer>
  </body>
</html>