<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pyramid Learning Journal</title>
    <link href="https://meyerweb.com/eric/tools/css/reset/reset.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Glegoo|Playfair+Display" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
      <a class="left" href="/">Home</a>
      <a class="right" href="/journal/new-entry">New Entry</a>
      </nav>
      <h1 class="blog-title">Python Learning Journal</h1>
      <h2>sneks</h2>
    </header>
    <main class="container">
      <section>
        <article>
        <h3 class="post-title">Sample blog post</h3>
        <p class="post-date">October 30, 2017</p>
        <a href="/journal/30" class="button">Read More</a>
         </article>
       </section>
    </main>

    <footer class="blog-footer">

    </footer>
  </body>
</html>