<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pyramid Learning Journal</title>
    <link href="https://meyerweb.com/eric/tools/css/reset/reset.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('pyramid_learning_journal:static/style.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gudea" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
      <a class="home" href="{{request.route_url('home')}}">Home</a>
      {% if request.authenticated_userid %}

      <a class="right button" href="{{request.route_url('logout')}}">Log Out</a>
      <a class="right button" href="{{request.route_url('create_article_page')}}">New</a>

       {% else %}

       <a class="right" href="{{request.route_url('login')}}">Log In</a>

       {% endif %}
      </nav>
      <h1 class="blog-title">Python Learning Journal</h1>
      <h2>Code 401: Advanced Software Development in Python</h2>
    </header>
    <main class="container">
      <section>
        {% block content %}{% endblock %}
      </section>
    </main>

    <footer class="blog-footer">

    </footer>
  </body>
</html>