<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pyramid Learning Journal</title>
    <link href="https://meyerweb.com/eric/tools/css/reset/reset.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
      <a class="left" href="{{request.route_url('home')}}">Home</a>
      <a class="right" href="{{request.route_url('create_article_page')}}">New Entry</a>
      </nav>
      <h1 class="blog-title">Python Learning Journal</h1>
      <h2>get learned bout sneks</h2>
    </header>
    <main class="container">
      <section>
        {% block content %}{% endblock %}
      </section>
    </main>

    <footer class="blog-footer">

    </footer>
  </body>
</html>